<h1>Categories</h1>

<%= link_to "Add a New Category", new_group_path %>

<div>
  <% @groups.each do |group| %>
    <%= link_to group do %>
      <div>
        <p >
          <strong><%= group.icon %></strong>
        </p>

        <p >
          <strong><%= group.name %></strong>
        </p>

        <p>Total:
          <strong>$ </strong>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

