<div class="navbar">
  <h1 class="main-title"> Edit Transactions</h1>
  <% if user_signed_in? %>
     <%= link_to("Log out", destroy_user_session_path, method: :delete) %>    
  <% end %>
</div>

<%= render "editexpense", expense: @expense %>

<br>

<div>
   <%= link_to "Back to expenses", group_expenses_path %>
</div>
