<div class="navbar">
  <h1 class="main-title"> Edit Transaction</h1>
  <% if user_signed_in? %>
     <%= link_to("Log out", destroy_user_session_path, method: :delete) %>    
  <% end %>
</div>

<div class="frm-categ">
   <%= render "editexpense", expense: @expense %>

   <br>

   <div class="back-trans">
      <%= link_to "Back to Transactions Page", group_expenses_path %>
   </div>
</div>